  <section id="questions_form">
    <h2 id="questions_header">Answer The Questions!</h2>
    <p>(think carefully now!)</p>
      <%= form_tag user_answers_path do |f| %>
        <% @questions.each do |question| %>
          <%= label_tag question.question_text %><br/>
          <%= select_tag "answers[][#{question.id}]", options_for_select([question.answer_1, question.answer_2]) %><br/><br/>
        <% end %>
        <%= submit_tag %>
      <% end %><br/>
  </section>
