html {
  background-color: #F8F8FF;
}

#login {
  background: #FCFCFC;
  opacity: .8;
  text-align: center;
  margin: 20%;
  border-radius: 5px;
  border: 2px solid grey;
  padding: 10px;
}

#questions_form {
  background: lightgrey;
  opacity: .8;
  text-align: center;
  margin: 10%;
  border-radius: 5px;
  border: 2px solid grey;
  padding: 10px;
}

#user_show {
  background: lightgrey;
  opacity: .8;
  text-align: center;
  margin: 5%;
  border-radius: 5px;
  border: 2px solid grey;
  padding: 10px;
  text: black;
}

#welcome {
  font-size: 30px;
  text-align: center;
}

.logout_button {
  padding: 7px;
  margin: 10px;
  text-decoration: none;
  background-color: darkgray;
  text: white;
}

#user_pictures {
  border-radius: 7px;
}
