html {
  background-color: lightgrey;
}

#login {
  background: #FCFCFC;
  opacity: .8;
  text-align: center;
  margin: 20%;
  border-radius: 5px;
  border: 2px solid grey;
  padding: 7px;
  font-size: 25px;
}

#questions_form {
  background: #F8F8FF;
  opacity: .8;
  text-align: center;
  margin: 10%;
  border-radius: 5px;
  border: 2px solid grey;
  padding: 10px;
}

#user_show {
  background: #F8F8FF;
  opacity: .8;
  text-align: center;
  margin: 5%;
  border-radius: 5px;
  border: 2px solid grey;
  padding: 10px;
  text: black;
  font-size: 20px;
}

#users_index {
  background: #F8F8FF;
  opacity: .8;
  margin: 0 28%;
  text-align: center;
  border-radius: 5px;
  border: 2px solid grey;
  padding: 10px;
  text-color: black;
  font-size: 19px;
}

#welcome {
  font-size: 42px;
  text-align: center;
  float: right;
  margin: -4% 2% auto auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #43334A;
}

.logout_button {
  padding: 7px;
  margin: 10px;
  text-decoration: none;
  background-color: #3D3D3D;
  color: white;
  font-size: 15px
}

#user_pictures {
  border-radius: 7px;
}

header {
  background: #F8F8FF;
  border-radius: 7px;
  border: 3px solid grey;
}
