/*html {
  background: url("http://4.bp.blogspot.com/-umU1-el3xJM/UHVnCck2b4I/AAAAAAAAL0I/Ssur6EhbW7o/s0/music-record-vinyl-woodstock-1920x1080.jpg") !important;
}*/
/*
body {
  opacity: .7;
  margin: 2em 19em;
  padding-bottom: 1.5em;
  padding-top: .5em;
  color: black !important;
  border-radius: 1.5em;
  border: 1.5px solid black;
}

#log_in {
  text-align: center;
  width: 15em;
  margin: auto auto;
}

#sign_up_button {
  text-decoration: none;
  color: black !important;
  margin: auto auto;
}

#log_in_button {
  margin: auto auto;
}
